<div class="individual-statistics">
    <app-title title="Estadísticas Individuales - Computador Acer Aspire 7"></app-title>

    <div class="statistics__container">
        <div class="mini-card__container">
            <app-mini-card-statistics label="Tipo de Equipo" ></app-mini-card-statistics>
            <app-mini-card-statistics label="Lugar de Almacenamiento" ></app-mini-card-statistics>
            <app-mini-card-statistics label="" ></app-mini-card-statistics>
            <app-mini-card-statistics label="" ></app-mini-card-statistics>
        </div>

        <div class="statistics__general">
            <label class="general__header">Características Generales</label>
            <div class="general__panel"></div>
        </div>
    </div>
</div>