<div class="equipmentadmin">

  <div class="equipmentheader" style="width: 80%;">
    <div class="redcards">
      <label type="text" class="form-control" placeholder="Nombre" style="border-radius: 15px; border: 0.5px solid black">Equpo prestamos</label>
      <h4 style="justify-content: center; margin-top: 30%;">XXXX</h4>
    </div>
    <div class="redcards">
      <label type="text" class="form-control" placeholder="Nombre" style="border-radius: 15px; border: 0.5px solid black">Equipos bodega</label>
      <h4 style="justify-content: center; margin-top: 30%;">XXXX</h4>
    </div>
    <div class="redcards">
      <label type="text" class="form-control" placeholder="Nombre" style="border-radius: 15px; border: 0.5px solid black">Equipos en el
        campus</label>
        <h4 style="justify-content: center; margin-top: 30%;">XXXX</h4>
    </div>
    <div class="redcards">
      <label type="text" class="form-control" placeholder="Nombre" style="border-radius: 15px; border: 0.5px solid black">Equipos en
        Giordano</label>
        <h4 style="justify-content: center; margin-top: 30%;">XXXX</h4>
    </div>

  </div>
  <div class="document">
    <div class="equipmentpanel2" style="justify-content: flex-start; padding: 1rem;">
      <h4 style="margin: 12px;">Estado de los equipos</h4>
      <h4 style="margin: 15px 12px 12px auto;"> XX% </h4>

      <div style="width: 100%;">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div style="display: flex; margin-top: 1rem;">
          <h6 >Estado de los equipos</h6>
          <h6 style="margin-left: auto;"> 40% </h6>
        </div>
      </div>
      <div style="width: 100%;">
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
        <div style="display: flex; margin-top: 1rem;">
          <h6 >Estado de los equipos</h6>
          <h6 style="margin-left: auto;"> 90% </h6>
        </div>
      </div>
      <div style="width: 100%;">
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        <div style="display: flex; margin-top: 1rem;">
          <h6 >Estado de los equipos</h6>
          <h6 style="margin-left: auto;"> 80% </h6>
        </div>
      </div>
    </div>

    <div class="equipmentpanel2" style="justify-content: flex-start; padding: 1rem;">
      <h4 style="margin: 12px; ">Equipos prestado por facultad</h4>

      <h4 style="margin: 12px 12px 12px auto;"> XX% </h4>

      <div style="width: 100%;">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div style="display: flex; margin-top: 1rem;">
          <h6 >Estado de los equipos</h6>
          <h6 style="margin-left: auto;"> 40% </h6>
        </div>
      </div>
      <div style="width: 100%;">
        <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
        <div style="display: flex; margin-top: 1rem;">
          <h6 >Estado de los equipos</h6>
          <h6 style="margin-left: auto;"> 10% </h6>
        </div>
      </div>
      <div style="width: 100%;">
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        <div style="display: flex; margin-top: 1rem;">
          <h6 >Estado de los equipos</h6>
          <h6 style="margin-left: auto;"> 80% </h6>
        </div>
      </div>
    </div>

  </div>
