.app {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	background: #fff;
	width: 100vw;
	max-width: 100%;
	min-width: var(--sidenav-width);
	box-shadow: rgba(#000, 0.1) 0 7px 29px 0;
	position: relative;
}


.content {
	flex: 1;
    margin-left: 10px;
	margin-left: var(--sidenav-mini-width);
	background: var(--main-background);
}