<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body text-center">
          <span class="title">Listado de Laboratorios</span>
          <button class="btn btn-primary btn-xs float-end" routerLink="/laboratory/Administrar">Nuevo</button>
         <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre del laboratio</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Aforo</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Descripción</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Lab_Civil</td>
              <td>Campus Avenida Universitaria</td>
              <td>10</td>
              <td>12</td>
              <td>xxxxxxx</td>
              <td><i class="fas fa-edit text-primary"></i><i class="fas fa-trash text-danger"></i></td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td>Lab_Mecanica</td>
              <td>Edificio Santo Domingo</td>
              <td>24</td>
              <td>18</td>
              <td>xxxxxxxx</td>
              <td><i class="fas fa-edit text-primary"></i><i class="fas fa-trash text-danger"></i></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Lab_Ambental</td>
              <td>Edificio Santo Domingo</td>
              <td>19</td>
              <td>19</td>
              <td>xxxxxxx</td>
              <td><i class="fas fa-edit text-primary"></i><i class="fas fa-trash text-danger"></i></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Lab_Electronica</td>
              <td>Campus Avenida Universitaria</td>
              <td>25</td>
              <td>20</td>
              <td>xxxxxxxxx</td>

              <td>
                <i class="fas fa-edit text-primary"></i>
                <i class="fas fa-trash text-danger"></i>
              </td>
            </tr>
            <tr></tr>
          </tbody>
        </table>
       </div>
      </div>
    </div>
  </div>
</div>
