<div class="list_lab">
  <p-table #dt [value]="labs" dataKey="id" [rowHover]="true" [rows]="10"
  [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
  [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['name','labs.name']">
  <ng-template pTemplate="caption">
    <div class="table-header">
      Listar Laboratorios
      <button class="btn btn-primary btn-xs float-end" routerLink="/laboratory/Administrar">Nuevo</button>
      <span class="p-input-icon-left">
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Busqueda Global" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">
        <div class="flex justify-content-between align-items-center">
          ID
          <p-sortIcon field="id"></p-sortIcon>
          <p-columnFilter type="text" field="id" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="namLab">
        <div class="flex justify-content-between align-items-center">
          LABORATORY NAME
          <p-sortIcon field="namLab"></p-sortIcon>
          <p-columnFilter type="text" field="namLab" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="ubication">
        <div class="flex justify-content-between align-items-center">
          LOCATION
          <p-sortIcon field="ubication"></p-sortIcon>
          <p-columnFilter type="text" field="ubication" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="capacity">
        <div class="flex justify-content-between align-items-center">
          CAPACITY
          <p-sortIcon field=" capacity"></p-sortIcon>
          <p-columnFilter type="text" field=" capacity" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="amount">
        <div class="flex justify-content-between align-items-center">
          AMOUNT
          <p-sortIcon field="amount"></p-sortIcon>
          <p-columnFilter type="text" field="amount" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="description">
        <div class="flex justify-content-between align-items-center">
          DESCRIPTION
          <p-sortIcon field="description"></p-sortIcon>
          <p-columnFilter type="text" field="description" display="menu" currency="USD" class="ml-auto"></p-columnFilter>
        </div>
      </th>


      <th pSortableColumn="icon">
        <div class="flex justify-content-between align-items-center">
          EDIT/DELETE
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-labs>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Id</span>
        <span class="id">{{labs.id}}</span>
      </td>
      <td>
        <span class="p-column-title">Laboratory Name</span>
        <span class="id">{{labs.namLab}}</span>
      </td>
      <td>
        <span class="p-column-title">Location</span>
        {{labs.location}}
      </td>
      <td>
        <span class="p-column-title">Capacity</span>
        {{labs.capacity}}
      </td>
      <td>
        <span class="p-column-title">Amount</span>
        {{labs.amount}}
      </td>
      <td>
        <span class="p-column-title">Description</span>
        {{labs.description}}
      </td>

      <td>
        <i class="fas fa-edit text-primary"></i>
        <i class="fas fa-trash text-danger"></i>
      </td>
    </tr>
  </ng-template>
</p-table>

</div>
