
.fas{

  cursor: pointer;
  margin-right: 7px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #011b47;
    border-color: #011b47;
}

.title{
  font-size: 1.8rem;
}
