.titulo{
    font-size: 1.8rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #011b47;
    border-color: #011b47;
}

.form-check-input, .form-check-label{
    margin-left: 10px;
}
.text-danger{
    text-align: start;
    margin-left: 7px;
}

.p-button{
    align-items: center;
    background-color: #081636;
    border-bottom: #081636;
    margin-left: 20px;
  }
  

