.app__auth {
	background: #fff;
	box-shadow: rgba(#000, 0.1) 0 7px 29px 0;
	display: flex;
	flex-flow: column nowrap;
	max-width: 100%;
	min-width: var(--sidenav-width);
	width: 100vw;
	height: 100vh;
	justify-content: space-between;
}


.content__auth {
	flex: 1;
    margin-top: var(--sticky-height);
}