<div class="equipment__admin2" >
  <mat-card style="border-radius: 1rem; width: 80%; margin-left: 150px; background-color: rgb(8, 22, 54); margin-top: 70px;">
  <div class="equipment__header" >
    <div class="photo col-5">
      <img
        src="https://images.unsplash.com/photo-1601934025804-c631e2777f26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt="">
    </div>
    <div class="equipment__info col-5">
      <div class="title">
        <label for="" class="cod">Codigo:</label>
        <input type="text" class="form-control" placeholder="#Codigo equipo">
      </div>
      <div class="title">
        <label for="" class="cod">Marca:</label>
        <input type="text" class="form-control" placeholder="Marca Dato equipo">
      </div>
      <div class="title">
        <label for="" class="cod">Serie:</label>
        <input type="text" class="form-control" placeholder="Serie equipo">
      </div>
      <div class="title">
        <label for="" class="cod">Modelo:</label>
        <input type="text" class="form-control" placeholder="Modelo dato equipo">
      </div>
      <div class="title">
        <label for="" class="cod">Tipo:</label>
        <input type="text" class="form-control" placeholder="Tipo equipo">
      </div>
    </div>
  </div>
</mat-card>

  <div class="section">
    <p-fileUpload name="myfile[]" url="./upload.php" style="margin-left: 50px;"></p-fileUpload>
  </div>
  <div class="equipment__header">

  <div >
    <button pButton pRipple type="button" label="Success" class="p-button-success" style="width: 200px;"></button>
  </div>
  <div >
    <button pButton pRipple type="button" label="Danger" class="p-button-danger" style="width: 200px;"></button>
  </div>

  </div>

</div>
