/*! Contenedor de las notificaciones ----------------------------------------- */

.card__info {
    background: var(--text-on-primary);
    border-radius: var(--radius);
    color: var(--primary);
    flex: 1 1 auto;
    width: 700px;
    height: 800px;
    position: relative;
}



/*! Cabecera del titulo ------------------------------------------------------- */

.card__header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 25px 40px 10px 40px;
    width: 100%;
}


/*! Titulo -------------------------------------------------------------------- */

.card__title {
    font-size: 22.5px;
}


/*! Mensajes no leídos -------------------------------------------------------- */

.card__unread {
    color: var(--orange);
}



/*! Contenedor de las tarjetas por mensaje ------------------------------------ */

.card__messages {
    --scroll-thumb: var(--primary-lighter);
    --scroll-track: var(--text-light);
    background: rgb(240, 239, 239);
    border-radius: var(--radius-sm);
    display: flex;
    flex-flow: column nowrap;
    height: 85%;
    justify-content: flex-start;
    margin: 20px;
    overflow-y: auto;
    padding: 15px;
    scroll-behavior: smooth;
    scrollbar-color: var(--scroll-thumb) transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 200ms;
}
.card__messages::-webkit-scrollbar {
	height: 8px;
    width: 8px;
}
.card__messages::-webkit-scrollbar-track {
	background: var(--text-light);
	border-radius: var(--radius);
    transition: background 200ms;
}
.card__messages::-webkit-scrollbar-thumb {
    background: var(--primary); 
    border-radius: var(--radius);
}
.card__messages::-webkit-scrollbar-corner {
    background: none;
}
.card__messages:hover {
	--scroll-thumb: var(--primary-lighter);
    --scroll-track: var(--text-light);
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}
.card__messages:hover::-webkit-scrollbar-track {
    background: var(--text-light);
}



/*! Botón para hacer scroll Up en los mensajes -------------------------------- */

.btn__up {
    background: var(--secondary);
    bottom: 50px;
    color: white;
    opacity: 1;
    position: absolute;
    transition: all var(--duration) var(--timing);
    z-index: 20;
}
.btn__up:hover {
    transform: scale(1.2);
}

.btn__up-disable {
    opacity: 0;
    transition: all var(--duration) var(--timing);
}