<div class="container mt-2">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado Prestamos</span>
          <button class="btn btn-primary float-end" id="boton" routerLink="/loan/loan-create">Solicitar</button>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha Prestamo</th>
                <th scope="col">Estado Entrega</th>
                <th scope="col">Lugar Destino</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Externo O Interno</th>
                <th scope="col">Equipo</th>
                <th scope="col">Documento Solicitante</th>
                <th scope="col">Devuelto</th>
                <th scope="col">Estado de Devolucion</th>
                <th scope="col">Fecha Devolucion</th>
                <th scope="col">options</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>25/03/2022</td>
                <td>Bueno</td>
                <td>Laboratorio de software guiordano</td>
                <td>1</td>
                <td>Interno</td>
                <td>Probeta</td>
                <td>1002589746</td>
                <td>no</td>
                <td></td>
                <td></td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>25/03/2022</td>
                <td>Bueno</td>
                <td>Laboratorio de software guiordano</td>
                <td>1</td>
                <td>Interno</td>
                <td>Matraz</td>
                <td>1002589746</td>
                <td>si</td>
                <td>Bueno</td>
                <td>26/03/2022</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
