.titulo{
    font-size: 1.8rem;
}

.fas{
    cursor: pointer;
    margin-left: 7px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #011b47;
    border-color: #011b47;
}