  <div class="assign_header">
    <div class="photo img">
      <h1 class="asig">Asignación de Rol</h1>
      <img src="/assets/rol.png" alt="">
    </div>
    <div class="assign_info">
      <div class="title">
        <label for="" class="cod">Documento:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">Nombres:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">Apellidos:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">E-mail:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">Rol:</label>
        <div class="form-group">
          <select class="form-select">
            <option selected>Seleccione Rol</option>
            <option value="1">Administrador</option>
            <option value="2">Estudiante</option>
            <option value="3">Laboratorista</option>
          </select>
        </div>
      </div>
    </div>
    <button pButton pRipple type="button" label="Guardar" icon="pi pi-check" class="p-button-rounded p-button-secondary" ></button>
  </div>
