<div class="assign_admin">
  <div class="assign_header">

    <div class="photo img">
      <h1 class="asig">Asignación de Rol</h1>
      <img src="/assets/rol.png" alt="">
    </div>
    <div class="assign_info">
      <div class="title">
        <label for="" class="cod">Documento:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">Nombres:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">Apellidos:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">E-mail:</label>
        <input type="text" class="form-control" placeholder=" ">
      </div>
      <div class="title">
        <label for="" class="cod">Rol:</label>
        <p-treeSelect [(ngModel)]="selectedNode" [options]="nodes" placeholder="Seleccionar Rol"></p-treeSelect>
      </div>
    </div>
    <p-button class= "boton" label="Guardar" icon="pi pi-check" iconPos="right"></p-button>
  </div>

</div>
