/*! Opciones Sugeridas ------------------------------------- */

.search__option {
    /* font-family: 'PT Serif', serif !important; */
    background: var(--primary-lighter) !important;
    color: var(--text-on-primary) !important;
}
.search__option:hover {
    background: var(--primary) !important;
    color: var(--gold) !important;
}
.search__option:focus {
    background: var(--primary) !important;
    color: var(--text-on-primary) !important;
}


.search__option.is-active {
    background: var(--primary-lighter) !important;
    color: var(--gold) !important;
}
.search__option.is-active:focus,
.search__option.is-active:hover {
    background: var(--primary) !important;
    color: var(--gold) !important;
}
